.container {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #00000021;;
    cursor: pointer;
}

.container:last-child {
    border: none;
}

.container:hover {
    background-color: #00000010;
}